body
    margin: 0
    font-size: 1.0em
    font-family: sans-serif
    background: url(navy_blue.png)
    background-size: 600px 385px

#content
    max-width: 600px
    margin: 10px auto
    padding: 10px 20px 20px 20px
    border-radius: 6px
    background: url(cream_dust.png)
    background-size: 50px 50px

#inputBox
    margin: 10px auto 20px auto
    width: 400px

#inputBox input
    font-size: 1.3em
    line-height: 2em
    width: 100%
    padding: 0 10px
    border: 1px solid #ccc
    border-radius: 4px

#options
    height: 140px
    vertical-align: middle
    float: left

#output
    height: 140px
    vertical-align: middle
    float: right

#logoDiv
    width: 600px
    text-align: center
    padding: 60px 0 10px 0
    margin: 0 auto

#forkDiv
    float: left